<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<button><a href="/celebrities/create">Create a celebrity!</a></button>
<button><a href="/celebrities">Celebrities</a></button>
<button><a href="/movies/create">Create a movie!</a></button>
<button><a href="/movies">Movies</a></button>